/*  Position properties */

/*  no css program without position properties atleast 1 is used */

/* If we want to position our HTML data in anywhere on the website. */

/* 5 types */

/* 1. Static (useless) */
/* 2.Relative --> The movemnt of top , left , right , and bottom will always happens from its original position */
/* 3.Absolute --> The movemnt of top , left , right , and bottom will always happens from its webpage or browser*/
/* 4.Fixed */
/* 5.Sticky */

/*  Whenever we use any of the position properties, we can control left, right , top and bottom*/
div {
  border: 1px solid lightblue;
  background-color: lightblue;
  width: 800px;
  height: 200px;
  display: flex;
  position: relative;
}
h1 {
  border: 1px solid brown;
  background-color: brown;
  width: 150px;
  height: 150px;
}
h2 {
  border: 1px solid blue;
  background-color: blue;
  width: 150px;
  height: 150px;
  position: absolute;
  right: 0px;
}
/* 3.Absolute --> The movemnt of top , left , right , and bottom will always happens from its webpage or browser*/
h3 {
  border: 1px solid greenyellow;
  background-color: greenyellow;
  height: 150px;
  width: 150px;
}
