/*  border , margin and padding
 */
/* Every HTML data in any website is surrounded within a box */
h1 {
  border: 10px solid red;
  /* padding-top: 50px;
  padding-left: 50px;
  padding-bottom: 70px;
  padding-right: 40px; */
  padding: 50px;
  /* margin-top: 50px;
  margin-left: 50px;
  margin-bottom: 50px;
  margin-right: 500px; */

  margin: 50px;
}
